*.class
*.ctxt
*.ear
*.iml
*.jar
*.log
*.rar
*.tar.gz
*.war
*.zip
*nb-configuration.xml
*nbactions.xml
*~
.classpath
.idea/
.mtj.tmp/
.project
.settings
.settings/
/target/
bin
build/
hs_err_pid*
lib-src/
target/
/ObjectStore

tokens/

*credentials.json
dependencies.txt